@import "../../styles/colors";

.badgeContainer {
    border-radius: 50%;
    background-color: $active-color;
    width: 45px;
    height: 45px;
    cursor: pointer;
    padding: 5px;

    &:hover {
        background-color: $primary-color;
    }
}
